<html>
    <body style="font-family: 'Arial', sans-serif; background-color: #f5f5f5; color: #333; padding: 20px;">

        <h3 style="color: #007BFF;">Dear, {{ full_name }}!</h3>
        
        <p style="font-size: 16px; line-height: 1.6;">Here is your OTP to verify your account.</p>
        
        <strong style="color: #28a745;">{{ otp }}</strong>
        
        <p style="color: red; font-size: 16px; line-height: 1.6;">Ignore this mail if you didn't request for one.</p>

    </body>
</html>