<html>
    <body style="font-family: 'Arial', sans-serif; background-color: gainsboro; color: dimgray; padding: 20px;">

        <h3 style="color: dodgerblue;">Dear, {{ full_name }}!</h3>
        
        <p style="font-size: 16px; line-height: 1.6;">Click on the link below to reset your password.</p>
        
        <strong style="color: forestgreen;">{{ link }}</strong>
        
        <p style="color: red; font-size: 16px; line-height: 1.6;">Ignore this mail if you didn't request for one.</p>

    </body>
</html>
